{% extends 'base.html.twig' %}


{% block title %}
    {{ 'title.type_delete'|trans({'%id%': type.id|default('')}) }}
{% endblock %}

{% block body %}
    <div id="container">
        <h2>{{ 'message.sure_delete_type'|trans }}</h2>
    {% include 'default/_form.html.twig' with {
        page_title: 'title.type_delete',
        page_title_param: {'%id%': type.id},
        attr: {
            method: 'delete',
            action: url('type_delete', {'id': type.id}),
        },
        back_to_list_path: 'type_index',
    } %}
    </div>
{% endblock %}

