{% extends 'base.html.twig' %}


{% block title %}
    {{ 'title.type_edit'|trans({'%id%': type.id|default('')}) }}
{% endblock %}

{% block body %}
    <div id="container">
        <h2> {{ 'title.type_edit'|trans }}</h2>
    {% include 'default/_form.html.twig' with {
        page_title: 'title.type_edit',
        page_title_param: {'%id%': type.id},
        attr: {
            method: 'PUT',
            action: url('type_edit', {'id': type.id}),
        },
        back_to_list_path: 'type_index',
    } %}
    </div>
{% endblock %}