{% if is_single_message|default(true) %}
<div class="x_content bs-example-popovers">
    {% endif %}
    <div class="alert alert-{{ type }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {% if message|trans is not same as(message) %}
            {{ message|trans }}
        {% else %}
            {{ message }}
        {% endif %}
    </div>
    {#{% if is_single_message|default(true) %}#}
</div>
{#{% endif %}#}