{% if app.session.flashBag.peekAll is not empty %}

    {% for message in app.flashes('success') %}
        <div data-closable class="alert-box callout success">
            <i class="fa fa-check"></i> {{ message|trans }}
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&CircleTimes;</span>
            </button>
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div data-closable class="alert-box callout alert">
            <i class="fa fa-ban"></i> {{ message|trans }}
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&CircleTimes;</span>
            </button>
        </div>
        {% for message in app.flashes('warning') %}
            <div data-closable class="alert-box callout warning">
                <i class="fa fa-exclamation-triangle"></i> {{ message|trans }}
                <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                    <span aria-hidden="true">&CircleTimes;</span>
                </button>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
