<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')|first|default('pl') }}">
{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {#<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">#}
            <link rel="stylesheet" href="{{ asset("css/foundation.css")}}"/>
            <link rel="stylesheet" href="{{ asset("css/app.css")}}"/>



        {% endblock %}
    </head>
{% endblock %}

<body>
    {% block body %}




    {% endblock %}

        {% block javascripts %}
            {#<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>#}
        {% endblock %}
</body>

</html>
