<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')|first|default('pl') }}">
{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset("css/foundation.css")}}"/>
            <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset("css/app.css")}}"/>


        {% endblock %}
    </head>
{% endblock %}

<body>
    {% block body %}


        <ul class="menu menu-hover-lines">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Contact</a></li>
        </ul>



    {% endblock %}

        {% block javascripts %}
            {#<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>#}
        {% endblock %}
</body>

</html>
