{% extends 'base.html.twig' %}


{% block title %}
    {{ 'title.tag_delete'|trans({'%id%': tag.id|default('')}) }}
{% endblock %}

{% block body %}
    <div id="container">
        <h2>{{ 'message.sure_delete_tag'|trans }}</h2>
    {% include 'default/_form.html.twig' with {
        page_title: 'title.tag_delete',
        page_title_param: {'%id%': tag.id},
        attr: {
            method: 'delete',
            action: url('tag_delete', {'id': tag.id}),
        },
        back_to_list_path: 'tag_index',
    } %}
    </div>
{% endblock %}

