{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.tag_new'|trans }}
{% endblock %}

{% block body %}
    <h1> {{ 'title.tag_new'|trans }} </h1>
    {% include 'default/_form.html.twig' with {
        page_title: 'title.tag_new',
        attr: {
            method: 'post',
            action: url('tag_new')
        },
    } %}

{% endblock %}