{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.transaction_delete'|trans({'%id%': transaction.id|default('')}) }}
{% endblock %}

{% block body %}
    <div id="container">
        <h3>{{ 'message.sure_delete_transaction'|trans }}</h3>
    {% include 'default/_form.html.twig' with {
        page_title: 'title.transaction_delete',
        page_title_param: {'%id%': transaction.id},
        attr: {
            method: 'delete',
            action: url('transaction_delete', {'id': transaction.id}),
        },
        back_to_list_path: 'dashboard',
    } %}
    </div>
{% endblock %}